.grid-element {
  border: 0.1px solid rgb(231, 231, 231);
  border-spacing: 0px;
  background-color: rgb(255, 255, 255);
}

#grid {
  display: grid;
  background-color: rgb(255, 255, 255);  
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
}

#clearBtn, #rainbowBtn, #eraserBtn, #colorBtn {
  width: 150px;
  height: 40px;
  flex-wrap: wrap;
}

#favcolor {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: none;
  margin: 0 auto;
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  /*-webkit-appearance: none;*/
  width: 80px;
  height: 80px;
  border: none;
}

input[type='color']/*::-webkit-color-swatch-wrapper*/{
  padding: 0;
}

input[type='color']::-webkit-color-swatch{
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
